.projects-container {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.project-card {
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  text-align: left;
  border: 1px solid rgba(250, 185, 91, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 20%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );
  transform: skewX(-25deg);
}

.project-card:hover::before {
  animation: shineSweep 0.9s ease forwards;
}

@keyframes shineSweep {
  0% {
    left: -120%;
  }

  100% {
    left: 130%;
  }
}

/* Hover Effect */
.project-card:hover {
  transform: translateY(-5px);
  border-color: rgba(250, 185, 91, 0.3);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.4),
    0 15px 35px rgba(250, 185, 91, 0.15);
}

.project-card h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.project-card p {
  color: #8b98a5;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Tech Badges */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tech-stack span {
  font-size: 12px;
  padding: 6px 12px;
  background: rgba(250, 185, 91, 0.1);
  border-radius: 20px;
  color: #fab95b;
}

/* Links */
.project-links {
  display: flex;
  justify-content: center;
}

.project-links a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #fab95b;
  text-decoration: none;
  transition: 0.3s ease;
}

.github-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  border-radius: 8px;
  border: 1px solid #fab95b;
  color: #fab95b;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.github-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #fab95b, #e8e2db);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.github-btn:hover::before {
  opacity: 0.15;
}

.github-btn:hover {
  background: rgba(250, 185, 91, 0.1);
  transform: translateY(-3px);
}

.project-links a:hover {
  opacity: 0.7;
}

.project-content {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .projects-grid {
    gap: 20px;
  }

  .project-card {
    padding: 20px;
  }
}
